[user]
	name = Ryu Sato
	email = ryu@weseek.co.jp

#[url "https://"]
#    insteadOf = git://

[alias]
    graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short

[diff "sopsdiffer"]
	textconv = sops -d
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
